.footer {
  min-height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #df9a57;
  justify-content: center;
}

.footerContainer {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  padding-left: 1em;
}
.footerContainer > h3 {
  display: flex;
  padding-left: 1em;
}
