@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Lobster, sans-serif;
  font-size: 3ch;
}

.rooter {
  min-height: 100vh;
  width: 100vw;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.not-found {
  font-size: 20rem;
  height: 87%;
  border: 3px solid pink;
}
