@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Lobster, sans-serif;
  font-size: 3ch;
}

.rooter {
  min-height: 100vh;
  width: 100%;
  background-color: #fcd757;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-head {
  padding: 2em;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h3 {
  font-size: 2ch;
}
.content-background {
  display: flex;
  align-self: center;
  min-height: 75vw;
  width: 80vw;
  background-color: #fff7dc;
  padding: 0 2em 0 2em;
  font-family: "Open Sans";
  justify-content: center;
}
.content-textbox {
  display: flex;
  width: 60%;
}
.content-section-1 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2em;
}
.not-found {
  font-size: 20rem;
  height: 87%;
  border: 3px solid pink;
}
