.header {
  display: inline-flex;
  align-items: center;
  top: 0%;
  position: sticky;
  height: 12vh;
  width: 100%;
  background-color: #fc7a57;
  color: white;
  justify-content: center;
}

.headerLink {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}
.headerLink li {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  padding: 1em;
  text-decoration: none;
  border: 4pxssolid blue;
  height: 100%;
}
